/* ---------- HEADER ---------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  margin: 0 0 12px;
}

.header__link__wrapper {
  text-decoration: none;
}

.header__link {
  font-size: 14px;
  margin: 0 8px 0 0;
  padding: 8px 16px;
  font-weight: bold;
  color: #1a1b1c;
}

.header__sublink {
  font-size: 14px;
  margin: 0 6px;
  color: #1a1b1c83;
}

.header__home__left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4px;
}

.header__home__right {
  font-size: 10px;
  padding: 8px 16px;
  margin: 0 16px;
  background-color: #1a1b1c;
  color: white;
  cursor: not-allowed;
}
