@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: roobert, roobert Fallback;
}

@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
