/* ---------- HEADER ---------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  margin: 0 0 12px;
}

.header__link__wrapper {
  text-decoration: none;
}

.header__link {
  font-size: 14px;
  margin: 0 8px 0 0;
  padding: 8px 16px;
  font-weight: bold;
  color: #1a1b1c;
}

.header__sublink {
  font-size: 14px;
  margin: 0 6px;
  color: #1a1b1c83;
}

.header__home__left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 4px;
}

.header__home__right {
  font-size: 10px;
  padding: 8px 16px;
  margin: 0 16px;
  background-color: #1a1b1c;
  color: white;
  cursor: not-allowed;
}

/* ---------- MAIN ---------- */

.discover {
  margin-left: 64px;
  display: block;
  transition: transform 0.2s ease;
  transform-origin: center;
  cursor: not-allowed;
}

.test__btn,
.discover__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}

.test__normal {
  margin-right: 72px;
  display: block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.home__intro__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.home__title {
  font-size: 100px;
  text-align: center;
  margin: 220px auto;
  position: relative;
}

.titleWrapper {
  width: 100%;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
}

.titleWrapper.left {
  justify-content: flex-start;
}

.titleWrapper.right {
  justify-content: flex-end;
}

/* ---------------------------------
  Transitions
--------------------------------- */

.home__intro__layout:has(.discover__btn:hover) .titleWrapper {
  transform: translateX(300px);
  transition: transform 0.5s ease;
}

.home__intro__layout:has(.discover__btn:hover) .home__title {
    text-align: right;
    transition: all 0.5s ease;
}

.home__intro__layout:has(.discover__btn:hover) .rightSide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.home__intro__layout:has(.test__btn:hover) .titleWrapper {
  transform: translateX(-300px);
  transition: transform 0.5s ease;
}

.home__intro__layout:has(.test__btn:hover) .home__title {
    text-align: left;
    transition: all 0.5s ease;
}

.home__intro__layout:has(.test__btn:hover) .leftSide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.test__btn:hover .test__normal {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.discover__btn:hover .discover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.leftSide,
.rightSide,
.titleWrapper,
.home__title {
  transition: all 0.5s ease;
}

.rectangle {
  position: absolute;
  left: 0;
  top: 16px;
}

.rectangle__right {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
  top: 16px;
}

.title__text {
  overflow: visible;
  max-width: 310px;
  height: 60px;
  left: 80px;
  bottom: 54px;
  color: #1a1b1c;
  font-weight: 100;
  position: absolute;
}
